---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<h1>About Me!</h1>
        <h2>Outline</h2>
        <p>Hi I'm Jake, I'm currently in my final year of full time education, after which I'm hoping to read cybersecurity in university</p>
        <h2>Subjects</h2>
        <p>Feel free to ask me any questions on these!</p>
        <ol>
            <li>Maths A-level (Edexcel)</li>
            <li>Computer Science A-level (OCR)</li>
            <li>Business A-level (Edexcel)</li>
        </ol>
        <h2>Computing related skills and hobbies</h2>
        <ol>
            <li>Using Python, SQL and basic assembly for A-level</li>
            <li>Intermediate Javascript and Typescript</li>
            <li>Trying to learn C to further my knowledge of computers</li>
            <li>Tooling template addict (just check out my <a href="https://github.com/jakewdr">GitHub</a> page)</li>
        </ol>
        <h2>Music</h2>
        <p>I utterly love music, I listen to lots of post rock, alternative rap and various other subgenres</p>
        <p>If you want to check up on my full libary go no further then my <a href="https://www.last.fm/user/jwke">LastFM</a></p>
    </body>
</html>