---
const pageTitle = "Blog";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Snow from "../components/Snow.astro";
---
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/elephant.jpg" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />
    <h1>{pageTitle}</h1>
    <p>This is where I will post various computing and music related articles</p>
    <ul>
        <li><a href="/posts/template/"><b>[TEMPLATE]</b></a></li>
    </ul>
    <Footer />
    <Snow />
    </body>
</html>