---
const pageTitle = "Blog";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { Snow } from "../components/Snow.tsx";
---
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/elephant.jpg" />
        <title>{pageTitle}</title>

        <!-- Google tag (gtag.js) -->
        <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-18TEL9N92D"></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-18TEL9N92D');
        </script>
    </head>
    <body>
        <Navigation />
    <h1>{pageTitle}</h1>
    <p>This is where I will post various computing and music related articles</p>
    <ul>
        <li><a href="/posts/template/"><b>[TEMPLATE]</b></a></li>
    </ul>
    <Footer />
    <Snow client:only="preact"/>
    </body>
</html>