---
const pageTitle = "Home";
import { Image } from "astro:assets";
import { Snow } from "../components/Snow.tsx";
import "../css/global.css";
---

<html lang="en" class="bg-new-blue-one">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Homepage for jakewdr's personal website" />
        <link rel="icon" type="image/x-icon" href="https://ik.imagekit.io/tw5ja0seu/elephant.webp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preload" href="https://ik.imagekit.io/tw5ja0seu/Pixelify%20Sans-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="https://ik.imagekit.io/tw5ja0seu/IBM%20Plex%20Mono-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <title>{pageTitle}</title>
    </head>
    <body class="text-slate-200">
        <div class="flex-initial">
            <div class="w-full h-9 font-semi-bold font-pixelify-sans justify-center flex text-2xl items-center">
                <p class="align-self-center">jakewdr</p>
                <p class="blinking-text">_</p>
            </div>
        </div>
        <header class="p-8 md:p-16 md:pb-0 max-w-full md:w-[55rem] space-y-5 font-ibm-plex-mono mx-auto my-auto block align-middle">
            <h4 class="flex gap-2 items-center text-2xl font-bold font-pixelify-sans">
                <Image
                    class="w-12 h-12 hover:animate-spin ease-in-out rounded-full"
                    src="https://ik.imagekit.io/tw5ja0seu/elephant.webp"
                    loading="eager"
                    decoding="async"
                    alt="glow pt2 elephant"
                    width="48"
                    height="48"
                />
                Jake Reddy
            </h4>

            <p class="font-semibold">
                Hi, at the moment I'm in my final year of full-time education <br />
                in the United Kingdom, after which I will read Cyber-security <br />
                in university.
            </p>

            <p class="font-semibold">
                I love to <a rel="dns-prefetch" class="decoration-2 underline font-bold text-slate-100 hover:bg-link-hover font-pixelify-sans text-lg" href="https://app.thestorygraph.com/profile/jwke">read</a>, watch <a rel="dns-prefetch" class="decoration-2 underline font-bold text-slate-100 hover:bg-link-hover font-pixelify-sans text-lg" href="https://letterboxd.com/jakewdr/">films</a> and listen to <a rel="dns-prefetch" class="decoration-2 underline font-bold text-slate-100 hover:bg-link-hover font-pixelify-sans text-lg" href="https://www.last.fm/user/jwke">music</a>!
            </p>
            <span class="font-semibold text-slate-200 text-xl font-pixelify-sans">
                <a rel="dns-prefetch" class="underline hover:bg-link-hover" href="https://github.com/jakewdr">GitHub</a> <t> • </t>
                <a rel="dns-prefetch" class="underline hover:bg-link-hover" href="https://www.instagram.com/jakewdr/">Instagram</a> <t> • </t>
                <a rel="dns-prefetch" class="underline hover:bg-link-hover" href="https://open.spotify.com/user/31nfpks2pgzjofrhwbdk7xx3ovli">Spotify</a> <t> • </t>
                <a rel="dns-prefetch" class="underline hover:bg-link-hover" href="https://myanimelist.net/profile/jwke">MAL</a>
            </span>
            <div class="w-32 text-2xl font-pixelify-sans text-slate-100 mt-5">
                Projects
            </div>
            <section class="flex flex-wrap md:flex-nowrap gap-3">
                <div class="flex flex-wrap w-full gap-y-2 gap-x-5">
                    <div class="w-full md:w-60">
                        <p>
                            <a href="https://github.com/effectualpy" rel="dns-prefetch" class="font-pixelify-sans text-xl hover:bg-link-hover">Effectual</a>
                        </p>
                        <p>An easily hackable and configurable module bundler for Python</p>
                    </div>
                    <div class="w-full md:w-60">
                        <p>
                            <a href="https://github.com/jakewdr/middlefm" rel="dns-prefetch" class="font-pixelify-sans text-xl hover:bg-link-hover">MiddleFM</a>
                        </p>
                        <p>A middle-layer between Spotify and LastFM</p>
                    </div>
                </div>
            </section>
        </header>
        <Snow client:visible client:only="preact" />
    </body>
</html>
