---
const pageTitle = "Home";
import { Snow } from "../components/Snow.tsx";
import "../css/fonts.css";
---

<html lang="en" class="bg-new-blue-one">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Homepage for jakewdr's personal website">
		<link rel="icon" type="image/x-icon" href="/elephant.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style type="text/css"> 
            @keyframes blink {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
    
            .blinking-text {
                color: white;
                animation: blink 0.5s infinite; 
            }
        </style>
    </head>
	<body class="text-slate-200">
		<div class="flex-initial">
            <div class="w-full h-9 font-semi-bold font-pixelify-sans justify-center flex text-2xl align-middle items-center">
                <p class="align-self-center">jakewdr</p>
                <p class="blinking-text">_</p>
            </div>
        </div>
        <header class="p-8 md:p-16 md:pb-0 max-w-full md:w-[55rem] space-y-5 font-ibm-plex-mono">
            
            <h4 class="flex gap-2 items-center text-2xl font-bold">
                <img
                    class="w-12 h-12 hover:animate-spin motion-reduce:animate-none ease-in-out rounded-full"
                    src="/elephant.webp"
                    loading="eager"
                    decoding="async"
                    alt="glow pt2 elephant"
                    width="12"
                    height="12"
                />
                Jake Reddy
            </h4>

            <p class="font-semibold text-lg">
                Hi, at the moment I'm in my final year of full time education in the United Kingdom, after which I will read Cyber-security in university.
            </p>
            
            <p class="font-semibold text-lg">
                I love to read <a class="underline font-bold text-slate-100 hover:bg-link-hover" href="https://myanimelist.net/profile/jwke">manga</a>, watch <a class="underline text-slate-100 font-bold hover:bg-link-hover" href="https://letterboxd.com/jakewdr/">films</a> and listen to <a class="underline text-slate-100 font-bold hover:bg-link-hover" href="https://www.last.fm/user/jwke">music</a>!
            </p>

            <p class="flex flex-wrap gap-10"></p>
                <span class="font-semibold text-slate-100 text-xl font-pixelify-sans">
                    <a class="underline hover:bg-link-hover" href="https://github.com/jakewdr">GitHub</a> <t> • </t>
                    <a class="underline hover:bg-link-hover" href="https://www.instagram.com/jakewdr/">Instagram</a> <t> • </t>
                    <a class="underline hover:bg-link-hover" href="https://open.spotify.com/user/31nfpks2pgzjofrhwbdk7xx3ovli">Spotify</a> 
                </span>
            </p>

        </header>
		<Snow client:idle client:only="preact"/>
	</body>
</html>
