---
const pageTitle = "Links";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Snow from "../components/Snow.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/elephant.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<div class="big-text">
			<ul>
				<li><b><a href="https://www.instagram.com/jakewdr/">[Instagram]</a></b></li>
				<li><b><a href="https://open.spotify.com/user/31nfpks2pgzjofrhwbdk7xx3ovli">[Spotify]</a></b></li>
				<li><b><a href="https://www.last.fm/user/jwke">[LastFM]</a></b></li>
				<li><b><a href="https://myanimelist.net/profile/jwke">[MyAnimeList]</a></b></li>
				<li><b><a href="https://letterboxd.com/jakewdr/">[Letterboxd]</a></b></li>
				<li><b><a href="https://github.com/jakewdr">[GitHub]</a></b></li>
			</ul>
		</div>
		<Footer />
		<Snow/>
	</body>
</html>