---
const pageTitle = "mbv";
import "../../css/global.css";
import { Snow } from "../../components/Snow.tsx";
---
<html lang="en" class="bg-pink-600">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Files for the band my bloody valentine" />
        <link rel="icon" type="image/x-icon" href="https://ik.imagekit.io/tw5ja0seu/elephant.webp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preload" href="https://ik.imagekit.io/tw5ja0seu/IBM%20Plex%20Mono-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="https://ik.imagekit.io/tw5ja0seu/Pixelify%20Sans-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <title>{pageTitle}</title>
    </head>

    <body class="text-white">
        <div class="flex h-screen">
            <div class="flex items-center m-auto justify-center align-middle font-ibm-plex-mono">
                <ul class="list-none text-lg place-content-center text-left">
                    <li class="font-pixelify-sans text-3xl">mbv</li>
                    <li><a href="https://drive.proton.me/urls/Q95WKV7F68#5ffIdi57ihLG" rel="dns-prefetch" class=" hover:bg-pink-300 opacity-80">loveless (analogue)</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <Snow client:visible client:only="preact" />
    </body>

</html>