---
---

<footer>
    <p><i>Written by me in <a href="https://astro.build/">Astro</a></i></p>
</footer>

<style>
    p {
        padding: 0.5rem 1rem;
        color: #000000;
        background-color: #D3D3D3;
        text-decoration: none;
    }
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>