---
const platform = "github";
const username = "jakewdr";
---

<footer>
    <p><i>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</i></p>
</footer>