@import "tailwindcss";

@theme : {
    --color-new-blue-one: #24283b;
    --color-link-hover: #8aa1aa;
    --font-pixelify-sans: Pixelify Sans;
    --font-ibm-plex-mono: IBM Plex Mono;
}

@font-face {
    text-rendering: optimizeSpeed;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://ik.imagekit.io/tw5ja0seu/IBM%20Plex%20Mono-600.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    text-rendering: optimizeSpeed;
    font-family: "Pixelify Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://ik.imagekit.io/tw5ja0seu/Pixelify%20Sans-600.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-text {
    color: white;
    animation: blink 0.5s infinite;
}
